html {
  font: 20px/1.5 nornal normal normal Arial, Helvetica, sans-serif;
  background-color: #dde6ee;
  color: #357;
}

.headline {
  text-align: center;
  font-family: Georgia, serif;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

#main,
#sidebar,
#sidebar2 {
  margin: 0 1rem;
}

a {
  color: #c03;
}
