:root {
  --accent-color: #c03;
}

html {
  font: 20px/1.5 nornal normal normal Arial, Helvetica, sans-serif;
  background-color: #dde6ee;
  color: #357;
}

a {
  color: var(--accent-color);
}

:global .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.column {
  margin: 0 1rem;
}

.serif {
  font-family: Georgia, serif;
}

.columnHeadline {
  composes: serif;
  font-style: italic;
  color: var(--accent-color);
}

.headline {
  composes: serif;
  text-align: center;
}
